/* ==============
  Menu
===================*/

.topbar {
  position: fixed; background-color: $white;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  .topbar-left {
    float: left;
    position: relative;
    width: 260px;
    z-index: 1;
    text-align: center;
    background-color: $white;
  }
  .open-left{ display: flex; align-items: center; justify-content: center; height: 62px;
    &:focus{ outline: none;}
  }
}

.logo{
  color: $white !important;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 70px;
  text-transform: uppercase;
}

.navbar-custom {
  background-color: $white;
  border: none;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);

  .dropdown.show {
    .nav-link {
      background-color: rgba($white,0.2);
    }
  }
  .language-switch a img {
    float: right;
    margin-top: 5px;
  }
  .notification-list{
    .dropdown-menu{
      width: auto;
    }  
  }
}


/* Notification */
.notification-list {
  margin-left: 0;

  .noti-title {
    border-radius: 0.25rem 0.25rem 0 0;
    margin: -4px 0px 0px 0px;
    width: auto;
    padding: 12px 20px;

    h5 {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase;
    }

    .label {
      float: right;
    }
  }

  .noti-icon {
    font-size: 28px;
    vertical-align: middle;
    color: $basefontcolor;
  }
  .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 8px;
    border-radius: 50%;
    width: 10px;
    height: 13px;
    background-color: $warningdark; 
    border:2px solid $white
  }
  .notify-item {
    padding: 15px 20px;

    .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: $white;

      img {
        margin-top: 4px;
      }
    }
    .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      b {
        font-weight: 500;
      }
      small {
        display: block;
        white-space: normal;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }
  .notify-all {
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0 0 -5px 0;
    background-color: $light;
  }
  .profile-dropdown {
    .notify-item {
      padding: 4px 20px;
    }
  }
  .nav-link {
    padding: 0 12px;
    height: 62px; display: flex; align-items: center; justify-content: center;
    &.nav-user{
      color: $fiord!important; @extend .bold; @extend .medium-font;
      &.img-holder{ display: flex;}
    }
    img{ vertical-align: initial;}
  }
  .nav-link.text-muted {
    color: $white !important;
  }
}

.profile-dropdown {
  width: 170px;
  i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.nav-user {
  margin-right: 10px;
  color: $basefontcolor;
  .img-holder{
    height:36px;
    width:36px;
    display: flex; margin-right: 5px;
    img {
      height:36px;
      width: 100%;
    }
  }
  
  
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.menu-title {
  padding: 12px 25px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  color: rgba($dark,0.5);
  margin-top: 10px !important;
}

.profile {
  padding: 17px 15px !important;

  img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
    float: left;
  }

  .profile-username {
    margin-left: 45px;
    display: block;
    line-height: 36px;
  }
}

.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 260px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: $white;
  position: absolute;
  z-index: 99;
  box-shadow: $box-shadow;
}


body.fixed-left {
  .side-menu.left {
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 62px;
  }

}

#wrapper.enlarged {

  .left.side-menu {
    padding-top: 0;
    z-index: 5;
    margin-left: -100%;
  }
  .content-page {
    margin-left: 0;
  }
}

#wrapper.enlarged .footer {
    left: 0;
}

.content-page {
  margin-left: 260px; padding-top: 62px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content-page > .content {
  margin-bottom: 60px;
  padding: 20px 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.page-content-wrapper {
  
}

.button-menu-mobile{
  background-color: $white;
  font-size: 28px;
  width: 42px;
  border-radius: 3px;
  border: none;
  color: $white;
  line-height: 62px;
  margin-left: 0px;
}

.sidebar-inner {
  height: $height;
}


.search-wrap {
  background-color: $white;
  color: $dark;
  z-index: 9997;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  transform: translate3d(0, -100%, 0);
  transition: .3s;

  form {
    display: flex;
    width: 100%;
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .search-input {
    flex: 1 1;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
  .close-search {
    width: 36px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: inherit;
    font-size: 24px;

    &:hover {
      color: $danger;
    }
  }
}

.search-wrap.open {
  transform: translate3d(0, 0, 0);
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.navbar-nav>li>a.notification-icon-box {
  line-height: 70px;

  i {
    font-size: 26px;
    vertical-align: middle;
  }
}

#sidebar-menu {
  background-color: $white;
  padding-bottom: 30px;
  width: 100%;

  ul {
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: $primary!important;
        }
      }
      a {
        color: lighten($dark,12%);
        display: block;
        padding: 12px 20px 12px 55px;
        font-size: 15px;

        &:hover {
          color: $dark;
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 75px;
        }
      }
    }
  }
}

#sidebar-menu > ul > li > a {
  // color: lighten($dark,10%);
  color: $fiord!important; @extend .medium; @extend .large-font;
  display: block;
  padding: 20px 20px 20px 70px;
  background-color: $white;

  &:hover {
    color: $pictonBlue!important;
    text-decoration: none;
  }
  span{
    &.icon{ position: absolute; left: 35px; top: 50%; transform: translateY(-50%);
      img{ max-width: 24px;}
    }
  }
}


#sidebar-menu > ul > li.nav-active > a {
  background-color: darken($white,4%);
  color: $dark;
}

#sidebar-menu > ul > li{
  .icon{ display: block;
    &.active{ display: none;}
  }
  &.active{
    .icon{ display: none;
      &.active{ display: block;}
    }
  }
}
#sidebar-menu > ul > li.active {
  background-color: $primarynew;
  
}
#sidebar-menu > ul > li > a.active {
  color: $white!important;
  background-color: $primarynew;
  
}


#sidebar-menu > ul > li.nav-active > ul {
  display: block;
}

// dropdown
.dropdown{ position: relative;
  .dropdown-menu{ display: none; background-color: $white;
    &.show{ display: block;}
  }
}


.hospital-dropdown{ top: 9px; cursor: pointer;
  .img-holder{ float: left; 
    img{ max-width: 43px; max-height: 43px;}
  }
  .txt{ float: left; padding-top: 3px;}
  .dropdown-toggle{
    &::after{ position: absolute; top: 50%; transform: translateY(-50%);}
  }
}